<div class="select-authors">
  <div class="selected-option" *ngFor="let selectedOption of selectedOptions; index as i;">
    <span class="base-font">
      {{selectedOption.label}}
    </span>
    <img class="remove" src="/assets/close.svg" (click)="onOptionDeselected(i)">
  </div>

  <input
    type="text"
    class="form-control"
    [placeholder]="getFilterInputPlaceholder()"    
    #authorsInput
    matInput 
    [matAutocomplete]="auto"
    (input)="onFilterInput($event)"
    (blur)="onBlur()">

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let option of getAvailableOptions()">
      {{option.label}}
    </mat-option>
  </mat-autocomplete>
</div>

