.container{
  margin-top: 24px;
}
.btn-create-course{
  background: #30b6dd;
  width: 138px;
  height: 36px;
  color:#fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  float: right;
  margin-bottom: 15px;
}
.cource-list{
  width: 100%;
  clear: both;
}