<app-course-search></app-course-search>
<div class="container">
    <button class="btn-create-course"
      routerLink="/courses/new"><fa-icon [icon]="faPlus"></fa-icon> Add course</button> <!-- (click)="onAddCourse()" -->
    
  <div class="course-list">
  
    <div class="msg-no-courses" *ngIf="(courses$ | async).length == 0; else coursesList">
        <h3>No data. Feel free to add new course</h3>
    </div>

    <ng-template #coursesList>
      <app-course *ngFor="let course of (courses$ | async | orderBy)"
        [course]="course"
        (editCourse)="onEditCourse($event)"
        (deleteCourse)="onDeleteCourse($event)"
        >    
      </app-course>
    </ng-template>
  </div>  

  <button class="btn load-more" 
    (click)="onLoadMore()"
    *ngIf="(courses$ | async).length != 0">Load more</button>
</div>
