:host {
  background: #fff;
}
.container{
  margin: 22px auto;
}
.breadcrumb-container{
  a {
    font: 600 14px SourceSansPro;
    color:#000;
    text-decoration: none;
  }
  span {
    font: 600 14px SourceSansPro;
  }
  
}
