
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-videl-portal-primary: mat-palette($mat-indigo);
$ng-videl-portal-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-videl-portal-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-videl-portal-theme: mat-light-theme($ng-videl-portal-primary, $ng-videl-portal-accent, $ng-videl-portal-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-videl-portal-theme);

@import '~bootstrap/scss/bootstrap-grid';
/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  background: #f2f3f7;
}
.wrapper {
	display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  flex-grow: 1;
}
.container {
  max-width: 1110px;
  margin: 32px auto;
  padding: 0 16px;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-group{
  width: 100%;
  margin: 12px 0 6px;
  clear: both;
  &-short {
    width: 150px;
    float: left;
    margin-bottom: 12px;
  }
  &-authors {
    width: 312px;
  }
  &-label {
      display: flex;
      justify-content: space-between;
      margin: 0 0 9px 0;
      .required{
          font:12px 'Source Sans Pro', sans-serif;
          line-height: 1.5;
          letter-spacing: 0.19px;
          text-align: right;
          color: #6c7283;
      }
  }
  label{
      color:#525462;
      font:600 14px 'Source Sans Pro', sans-serif;
      letter-spacing: 0.22px;
  }
  input{
      width: 100%;
      height: 36px;
      border-radius: 3px;
      border: solid 1px #d9dbe3;
      background-color: #fff;
      padding: 6px 12px;;
  }
  textarea{
    width: 100%;
    height: 108px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    background-color: #fff;
    padding: 6px 12px;
    overflow: auto;
  }
  &.form-group-btn{
      margin: 24px 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}

.btn{
  padding: 12px 20px;
  border-radius: 3px;
  font: 600 14px 'Source Sans Pro', sans-serif;
  font-stretch: normal;
  letter-spacing: -0.1px;
  border: none;
  cursor: pointer;
  float: right;
  &-gray{
    color:#5b616f;
    background:#f2f3f7;
  }
  &-green{
    background: #9bc837;
    color: #ffffff;
  }
}