.course{
  background: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  margin: 0 0 24px 0;
  padding: 26px 25px 28px;
  display: flex;
  flex-direction: row;
  &-header{
    display: flex;
    justify-content: space-between;
    margin: 0 0 7px 0; 
    h2{
      font: 600 24px 'Source Sans Pro', sans-serif;
      line-height: 1.25;
    }
    .course-info{
      margin: 8px 0 0 30px;;
      display: flex;
      &-duration{
        margin: 0 17px 0 0;
        color: #b9bdce;
        font: 12px 'Source Sans Pro', sans-serif;
        .ng-fa-icon{
          margin-right: 6px;
        }
      }
      &-date{
        margin: 0 15px 0 0;
        color: #b9bdce;
        font: 12px 'Source Sans Pro', sans-serif;
        .ng-fa-icon{
          margin-right: 4px;
        }
      }
    }
  }
  &-content{
    display: flex;
    flex-direction: column;
    .course-desc{
      font: 14px 'Source Sans Pro', sans-serif;
      line-height: 1.71;
      color: #525462;
    }
  }
  .course-manager{
    width: 175px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    button{
      .ng-fa-icon{
        margin-right: 6px;
      }
    }
    &-edit{
      width: 75px;
      height: 25px;
      background: #30b6dd;
      border-radius: 3px;
      color:#fff;
      border: none;
      cursor: pointer;
      margin-right: 12px;
      font: 500 12px 'Source Sans Pro', sans-serif;
    }
    &-delete{
      width: 86px;
      height: 25px;
      background: #30b6dd;
      border-radius: 3px;
      color:#fff;
      border: none;
      cursor: pointer;
      font: 500 12px 'Source Sans Pro', sans-serif;
    }
  }
}
